{%extends 'wearedevelopersapp/base.html' %}
{%block editblog%}
{%load static%}
<br>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title text-warning">Edit Blog</h5>
                    <form method="POST" class="text-secondary" enctype="multipart/form-data">
                        {%csrf_token%}
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Blog Title</label>
                            <input type="text" id="email" required class="form-control" name="title"
                                aria-describedby="emailHelp" placeholder="{{blog.title}}" value="{{blog.title}}">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Blog Context</label>                            
                            <textarea class="text-start" name="context" rows="10" cols="100" placeholder="{{blog.context}}" >{{blog.context}}</textarea>
                        </div>

                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Current Image: {{blog.image.url}}</label>
                            <input  type="file" name="image" required class="form-control" id="exampleInputPassword1" placeholder="{{blog.image}}" value="{{blog.image.url}}">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                </div>
            </div>
        </div>

    </div>



    <br>
</div>

<br>

{%endblock editblog%}